.loader {
	animation: loader 1s var(--delay) infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
	animation-fill-mode: both;
}

@keyframes loader {
	0% {
		transform: scaleY(1);
	}
	50% {
		transform: scaleY(0.4);
	}
	100% {
		transform: scaleY(1);
	}
}
